node_modules
dist
.npm-cache
.npm-prefix
.home
*.local
android
.DS_Store
test-import.csv
android/keystore.properties
android/*.keystore
android/app/build
android/build
android/.gradle
.worddata
小学館中日辞典 第3版/
SGKK3.zip
明镜日汉双解词典_Yomitan 1.4.4.zip
Microsoft/
